  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
           
          </div>
        </footer>


</body>
</html>