<% include ./partials/header%>
<div class="main-container">
<div class="container">

<form action="/" method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title" placeholder="title">
        </div>
        
        <div>
            <label>Image</label>
            <input type="text" name="image" placeholder="image">
        </div>
        
        <div>
            <label>Blog Content</label>
            <textarea required name="body"></textarea>
        </div>

            
        <input  type="submit">
    </form>

</div>
</div>
<% include ./partials/footer%>