<% include ./partials/header %>
<div class="main-container">
<div class="container">
<h1>Sign Up</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>submit</button>
</form>
</div>
</div>
<% include ./partials/footer %>